* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

.offercontainer {
  background-color: #1d232c;
  color: #e2e1e1;
  padding: 5px;
  text-align: center;
  font-size: 1.5vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: #1d232c;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: white;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 3;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.nav-links a {
  text-decoration: none;
  color: #1d232c;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #1d232c;
}

/* menu bar*/
.navbar-menu-toggle {
  display: none;
}

/*0 to 800px */

/* sidebar links*/
.side-navbar {
  position: fixed;
  width: 40%;
  height: 100%;
  background-color: #1d232c;
  top: 0;
  left: 0;
  padding: 30px;
  z-index: 10;
  margin-left: -80%;
  transition-duration: 2s;
}
.side-barlinks a {
  text-decoration: none;
  color: white;
}
.sidenavbar-link {
  margin-bottom: 20px;
  margin-top: 10px;
}
.sidenavbar-link a:hover {
  text-decoration: underline;
  color: wheat;
}
.divide-section {
  display: flex;
  margin: 10px;
  padding: 5px;
}
.filtersection {
  flex-basis: 25%;
  position: relative;
  font-size: 25px;
}
.filter-sec-occasion,
.filter-sec-occasion,
.filter-sec-occasion {
  margin-top: 20px;
  margin-bottom: 12px;
}
.divide-section h3 {
  font-weight: bold;
  font-size: larger;
}

.vertical-line {
  border: none;
  border-left: 3px solid #1d232c;
  height: 100%;
  margin: 0 20px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.product-section {
  flex-basis: 75%;
  position: relative;
  left: 20px;
}
.navbar-search {
  border: solid #1d232c 1px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 95%;
}

.navbar-search input {
  border: none;
  width: 100%;
  background-color: transparent;
}

input:focus {
  outline: none;
}
.gallery {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 30px;
}
.gallery img {
  width: 220px;
  height: 280px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 0px;
}

/*Slider*/

.slider{
  overflow: hidden;
  display: flex;
  width: 100%;
  position: relative;
  
  border-radius: 5px;

}

.slider-image-container{
  display: flex;
  transition: 2s;
}

.slider-image{
  width: 100vw;
}

.slider-left-button{
  position: absolute;
  top: 35%;
  left: 5%;
  z-index: 1;
}

.slider-left-button i{
  font-size: 10vw;
  
}
.slider-right-button{
  position: absolute;
  top: 35%;
  right: 5%;
}
.slider-right-button i{
  font-size: 10vw;
}
.slider-content{
  position: absolute;
  color: white;
  text-align: center;
   width: 100%;
   top: 20%;
}
.slider-content h1{
  font-size: 5vw;
}
.slider-content button{
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
 margin-top: 10px;
 color: #1D232C;
}
/* Brands*/
.brands{
  display: flex;
  margin-top: 2vw;
  
  justify-content: space-between;
  margin-left: 15px;
  
}

.brands-icon{
  width: 4vw;
  align-items: center;

}

.brands-item{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 2vw;
}
.servives-container-1
{
    margin-top: 5vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
}

.servives-container-2
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 10px;
    font-size: 1vw;
    
}

.servives-container-2 div{
    border-radius: 5px;
    background-color: #F2F4F7;
    padding: 10px;
    
    

}
.service{
  margin-left:15px ;
}
.new-arrival{
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
  width: 98%;
    margin-left: 10px;
}

.new-arrival-container{
 position: relative;
}

.new-arrival-container img{
  border-radius: 2%;
}
.overlay{
  border-radius: 2%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  top: 0;
  opacity: 0.6;
}



.new-arrival button{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10px;
  font-size: 1.2vw;
  color: #1D232C;
  border-radius: 10px;
  position: absolute;
  border: none;
  top: 50%;
  left: 18%;
  z-index: 2;
}
.most-wanted{
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
  overflow-x: scroll;
  gap: 20px;
 
  
}

.most-wanted-container{
 position: relative; 
}

.most-wanted img{
  border-radius: 2%;
  
   
}

.sale-overlay{
  position: absolute;
  top:3px;
  left: 3px;
  font-size: 2vw;
  background-color: red;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10%;
}

.most-wanted::-webkit-scrollbar {
  appearance: none;
  
}
 
.like-button{
  position: absolute;
  width: 15%;
  bottom: 12%;
  right: 5%;
}

.limited-offer{
  display: flex;
  justify-content: center;
  
  align-items: center;
  background-color: #1D232C;
  color: #E2E1E1;
  padding: 20px;
  font-size: 2vw;
}

.limited-offer img{
  width: 100%;
  height: 100%100%;
}

.limited-offer-text{
  padding: 5%;
}

.limited-offer button{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-top: 10px;
  font-size: 1.2vw;
  color: #1D232C;
  border-radius: 10px;

  border: none;
}
.initial-scroll-animate{
   
  transition: 3s;
}

.reveal-scroll-animate{
  opacity: 0;
}
.news{
  font-size: 2vw;
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news input{
  padding: 11px;
  width: 80vw;
  margin-bottom: 10px;
  border: solid #1D232C 3px;

}

.news input:focus{
 outline: none;

}

.news button{
  
  margin-top: 10px;
  font-size: 1.8vw;
  color: #E2E1E1;
  background-color: #1D232C;
  border-radius: 10px;
  border: none;
  padding:10px
  
  

}


.icon{
  width: 40px;
  margin: 2vw;

}
.footer{
  font-size: 2vw;
  margin-top: 5vw;
  padding: 40px;
  background-color: #1D232C;
  color: #E2E1E1;
  box-sizing: border-box;
}

.footer-container{
 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-box-1{
  display: flex;
  flex-direction: column;

}

.footer-box-2{
  display: flex;
}
@media screen and (max-width: 900px) {
  .navbar-menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
  }
  .filtersection {
    font-size: 15px;
  }
  .gallery img {
    width: 118px;
    height: 158px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 0px;
}
.vertical-line {
  border: none;
  border-left: 3px solid #1d232c;
  height: 100%;
  margin: 0px -10px;
  position: absolute;
  top: 0px;
  right: 0px;
}
}
